<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Sign Up Now</h2>
<fieldset>
    <form action="/register" method="POST">
        <label for="fname">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="masukkan username anda"/><br><br>
        <label for="lname">Email:</label><br>
        <input type="text" id="email" name="email" placeholder="masukkan email anda"/><br><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="password" name="password" placeholder="masukkan password anda"/><br><br>
        <label for="password">Repeat password</label><br>
        <input type="password" name="password_repeat" id="password_repeat" placeholder="repeat password"/><br><br>
        <input type="submit" value="Submit">
    </form>
</fieldset>
</body>